.Event {
    width: 33%;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 1rem;
}

.Event h1 {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.Event .Description {
    text-transform: capitalize;
    font-style: italic;
}
